{% extends "network/layout.html" %}

{% block body %}
    <ul>
        {% for post in posts %}
            <li>
                {{ post.creator }}
                {{ post.content }}
                {{ post.timestamp }}
                {{ post.likes }}
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div>New Post</div>
            <textarea name="text"></textarea>
            <button type="submit">Post</button>
        </form>
    {% endif %}
{% endblock %}