{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated and user.username != username %}
    <div>
        <button>Follow</button>
    </div>
    {% endif %}
    <div>
        {{ username }}
    </div>
    <div>
        Followers: {{ follower_count }}
    </div>
    <div>
        Following: {{ following_count }}
    </div>
    <div>
        <ul>
            {% for post in posts %}
            <li>
                <a href="{% url 'profile' post.creator %}">{{ post.creator }}</a>
                {{ post.content }}
                {{ post.timestamp }}
                {{ post.likes }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}