{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated and user.username != username %}
    <div>
        {% if follow %}
        <button id="follow-toggle" followed>Unfollow</button>
        {% else %}
        <button id="follow-toggle">Follow</button>
        {% endif %}
    </div>
    {% endif %}
    <div>
        {{ username }}
    </div>
    <div>
        Followers: {{ follower_count }}
    </div>
    <div>
        Following: {{ following_count }}
    </div>
    <ul id="posts-div">
    </ul>
{% endblock %}